@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
  font-family: 'Roboto';
}
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.txt{
  font-size: 17px;
  text-align: justify;
}

.nav > li > a{
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color:transparent;
    color: #fff;
    text-shadow: 0px 0px 0px #000;
    /*font-weight: bold;*/
}

.nav .open > a,
 .nav .open > a:hover,
 .nav .open > a:focus {
    background-color: transparent;
}

a.navbar-brand{
  color: #fff;
  text-shadow: 1px 1px 1px #000000;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #333;
    border-radius: 4px;
}


.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
